.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;

    header {
        padding: $spacing-sm;
        flex-basis: 20%;

        h1 {
            font-size: 6rem;
            text-shadow: $shadow-md;
            &::first-letter {
                font-style: italic;
                font-weight: 900;
                text-shadow: $spacing-xl;
                font-size: 7.5rem;
            }
            @media(max-width: 786) {
                font-size: 1.6rem;
                
                &::first-letter {
                    font-size: 2.3rem;
                }
            }
        }

       
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr; // két oszlop: bal szöveg, jobb kép
        grid-template-rows: auto 1fr;  // a bal oldali két section egymás alatt
        gap: $spacing-lg;
        padding: $spacing-lg;
        flex-basis: 60%;

        .welcome {
            grid-column: 1;  // bal oszlop
            grid-row: 1;
            h4 {
                margin-bottom: $spacing-sm;
                text-shadow: $shadow-sm;
            }
            h6 {
                color: $gray-900
            }
        }

        .introduction {
            grid-column: 1;
            grid-row: 2;
        }

        .screenshots {
            grid-column: 2;  // jobb oszlop
            grid-row: 1 / span 2; // két sor magasságot lefed
            display: flex;
            justify-content: center;
            align-items: center;

            img {
            max-width: 100%;
            border-radius: $radius-md;
            box-shadow: $shadow-md;
            object-fit: cover;
            }
        }

        p {
            font-size: $font-md;
            line-height: 1.5;
        }

        @media(max-width: 786) {
            display: flex;
            flex-direction: column;
        }
    }

    footer {
        flex-basis: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        button {
            width: 200px;
        }
    }
}

